<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= tit %></title>
    <style>
        body { font-size:12pt; color:#006666; }
        h1 { font-size:18pt; background-color:#AAFFFF; }
        pre { background-color:#EEEEEE; }
    </style>
</head>

<body>
<header>
    <h1 id="h1"><%=tit %></h1>
</header>
<div role="main">
    <form method="post" action="/api/auth/login" id="login-form">
        <input type="text" placeholder="ID" name="username">
        <input type="password" placeholder="PASSWORD" name="password">
        <input type="submit" value="login">
    </form>
    <a href="/signUp">sign up</a>
</div>
</body>

</html>