<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>My page</title>
    <style>
        body { font-size:12pt; color:#006666; }
        h1 { font-size:18pt; background-color:#AAFFFF; }
        pre { background-color:#EEEEEE; }
    </style>
</head>

<body>
<header>
    <h1 id="h1"><%= tit %></h1>
</header>
<div role="main">
    <h1>안녕하세요 <%=userName %>님 :)</h1>
</div>
</body>

</html>